{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
Mascotas: lista de mascotas
{% endblock titulo %}
{% block contenido %}
<section class="container my-5">
    <section class="py-4">
        <form class="input-group mb-3" action="{% url 'mascota:lista_mascotas' %}" method="get">
            <input type="text" class="form-control" name="consulta" placeholder="Buscar..." aria-label="Buscar">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
        </form>
    </section>

    {% if not mascotas %}
        <p>No tenemos mascotas en adopción actualmente! 🥳</p>
    {% else %}
        <div class="row">
            {% for mascota in mascotas %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ mascota.nombre }}</h5>
                            <p class="card-text">{{ mascota.descripcion|truncatewords:20 }}</p>
                            <div class="mt-auto">
                                <a href="{% url 'mascota:detalle_mascota' mascota.id %}" class="btn btn-info btn-sm me-1">Detalle</a>
                                {% if user.is_superuser %}
                                    <a href="{% url 'mascota:actualizar_mascota' mascota.id %}" class="btn btn-warning btn-sm me-1">Cambiar</a>
                                    <a href="{% url 'mascota:mascota_confirm_delete' mascota.id %}" class="btn btn-danger btn-sm">Borrar</a>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <section class="mt-4">
        <a class="btn btn-secondary" href="{% url 'core:home' %}" role="button">Volver al inicio</a>
    </section>
</section>
{% endblock contenido %}
