{% extends 'core/base.html' %}

{% block titulo %}
    Mascota: 
    {% if form.instance.pk %}
        Editar Mascota
    {% else %}
        Crear Mascota
    {% endif %}
{% endblock titulo %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h4>
                        {% if form.instance.pk %}
                            Editar Mascota
                        {% else %}
                            Crear Mascota
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-success mt-3">Guardar</button>
                            <a href="{% url 'mascota:lista_mascotas' %}" class="btn btn-secondary mt-3">Volver al inicio de Mascotas</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
